* {
	box-sizing: border-box;
	font-family: system-ui, sans-serif;
}

.title {
	max-inline-size: calc(100% - 89px);
}

.img-container {
	align-items: end;
	aspect-ratio: 4 / 3;
	background-color: #212125;
	display: flex;
	justify-content: center;
	max-width: 640px;
	position: relative;
}

img {
	height: 100%;
	inset: 0;
	object-fit: scale-down;
	position: absolute;
	vertical-align: top;
	width: 100%;
}

span {
	color: antiquewhite;
	font-size: 2.25rem;
	font-weight: 600;
	margin-block-end: 1rem;
	margin-inline: 1rem;
	position: relative;
	text-shadow: 0 2px 2px rgb(0 0 0 / 45%), 0 0px 12px rgb(0 0 0 / 20%);
	text-transform: capitalize;
	z-index: 2;
}

/* https://www.schemecolor.com/gitlab-logo-colors.php */
.ribbon-container {
	block-size: 149px;
	inline-size: 149px;
	inset-block-start: 0;
	inset-inline-end: 0;
	overflow: clip;
	pointer-events: none;
	position: absolute;
	z-index: 10;
}

.ribbon-container a {
	background-color: #fca326;
	border-block: 3px solid #e2432a;
	color: black;
	display: block;
	font-family: 'Readex Pro', system-ui, sans-serif;
	pointer-events: auto;
	text-align: center;
	text-decoration: none;
	transform: rotate(45deg) translate(-7px, -37px);
	transform-origin: left top;
	width: 225px;
}

.ribbon-container a:focus {
	outline: 1px dotted currentColor;
	outline-offset: 2px;
}

.ribbon-container :is(a:focus, a:hover) {
	text-decoration: underline;
}

.new-version-alert {
	background-color: lightgray;
	display: none;
	margin-block-start: 1rem;
	padding: 1.5rem 1rem;
}

.new-version-alert[data-active="true"] {
	display: block;
}
